# PyCharm IDE
.idea
# Virtual Environment files
venv
/TODO/.$Architecture.drawio.dtmp
/doc/Discounted Cash Flow - Create DCF Valuation Model (7 Steps)_files/51b847d1d8.js.download
/doc/Discounted Cash Flow - Create DCF Valuation Model (7 Steps)_files/_6JGikIJDGnoceIgf8090U3lCzEDV-VFv0r5pHrhB2Y.js.download
/doc/Discounted Cash Flow - Create DCF Valuation Model (7 Steps)_files/ad_status.js.download
/doc/Discounted Cash Flow - Create DCF Valuation Model (7 Steps)_files/affhb.data.js.download
/doc/Discounted Cash Flow - Create DCF Valuation Model (7 Steps)_files/Alibaba-DCF-Step-1.png
/doc/Discounted Cash Flow - Create DCF Valuation Model (7 Steps)_files/Alibaba-DCF-Step-1-balance-sheet.png
/doc/Discounted Cash Flow - Create DCF Valuation Model (7 Steps)_files/Alibaba-DCF-Step-1-Cash-Flows.png
/doc/Discounted Cash Flow - Create DCF Valuation Model (7 Steps)_files/analytics.js.download
/doc/Discounted Cash Flow - Create DCF Valuation Model (7 Steps)_files/annotations_module.js.download
/doc/Discounted Cash Flow - Create DCF Valuation Model (7 Steps)_files/base.js.download
/doc/Discounted Cash Flow - Create DCF Valuation Model (7 Steps)_files/captions.js.download
/doc/Discounted Cash Flow - Create DCF Valuation Model (7 Steps)_files/cast_sender.js(1).download
/doc/Discounted Cash Flow - Create DCF Valuation Model (7 Steps)_files/cast_sender.js.download
/doc/Discounted Cash Flow - Create DCF Valuation Model (7 Steps)_files/core.min.js.download
/doc/Discounted Cash Flow - Create DCF Valuation Model (7 Steps)_files/css
/doc/Discounted Cash Flow - Create DCF Valuation Model (7 Steps)_files/dashicons.min.css
/doc/Discounted Cash Flow - Create DCF Valuation Model (7 Steps)_files/Dheeraj-Vaidya-150x150.png.webp
/doc/Discounted Cash Flow - Create DCF Valuation Model (7 Steps).html
/doc/Discounted Cash Flow - Create DCF Valuation Model (7 Steps)_files/Discounted-Cash-Flow-main.png.webp
/doc/Discounted Cash Flow - Create DCF Valuation Model (7 Steps)_files/Discounted-Cash-Flow-Step-2-FCFF.png
/doc/Discounted Cash Flow - Create DCF Valuation Model (7 Steps)_files/Discounted-Cash-Flow-Step-3-WACC.png
/doc/Discounted Cash Flow - Create DCF Valuation Model (7 Steps)_files/Discounted-Cash-Flow-Step-4-Terminal-Value-1.png
/doc/Discounted Cash Flow - Create DCF Valuation Model (7 Steps)_files/Discounted-Cash-Flow-Step-5.png.webp
/doc/Discounted Cash Flow - Create DCF Valuation Model (7 Steps)_files/Discounted-Cash-Flow-Step-5-present-value.png
/doc/Discounted Cash Flow - Create DCF Valuation Model (7 Steps)_files/Discounted-Cash-Flow-Step-5-present-value-of-terminal-value.png
/doc/Discounted Cash Flow - Create DCF Valuation Model (7 Steps)_files/Discounted-Cash-Flow-Step-6-Adjustments1.png
/doc/Discounted Cash Flow - Create DCF Valuation Model (7 Steps)_files/Discounted-Cash-Flow-Step-7-Sensitivity-analysis.png
/doc/Discounted Cash Flow - Create DCF Valuation Model (7 Steps)_files/embed.js.download
/doc/Discounted Cash Flow - Create DCF Valuation Model (7 Steps)_files/endscreen.js.download
/src/GUI/export_ui_to_py.txt
/doc/Discounted Cash Flow - Create DCF Valuation Model (7 Steps)_files/featured_channel.jpg
/doc/Discounted Cash Flow - Create DCF Valuation Model (7 Steps)_files/fetch-polyfill.js.download
/doc/Discounted Cash Flow - Create DCF Valuation Model (7 Steps)_files/flatpickr.min.css
/doc/Discounted Cash Flow - Create DCF Valuation Model (7 Steps)_files/flatpickr.min.js.download
/doc/Discounted Cash Flow - Create DCF Valuation Model (7 Steps)_files/frontend.js.download
/doc/Discounted Cash Flow - Create DCF Valuation Model (7 Steps)_files/frontend.min.css
/doc/Discounted Cash Flow - Create DCF Valuation Model (7 Steps)_files/frontend.min.js.download
/src/db/Fundamentalsv2.sql
/doc/Discounted Cash Flow - Create DCF Valuation Model (7 Steps)_files/gpt.js.download
/doc/Discounted Cash Flow - Create DCF Valuation Model (7 Steps)_files/gtm.js.download
/doc/Discounted Cash Flow - Create DCF Valuation Model (7 Steps)_files/hoverIntent.min.js.download
/doc/Discounted Cash Flow - Create DCF Valuation Model (7 Steps)_files/index
/doc/Discounted Cash Flow - Create DCF Valuation Model (7 Steps)_files/jquery.min.js.download
/doc/Discounted Cash Flow - Create DCF Valuation Model (7 Steps)_files/jquery-migrate.min.js.download
/doc/Discounted Cash Flow - Create DCF Valuation Model (7 Steps)_files/lazyload.min.js.download
/doc/Discounted Cash Flow - Create DCF Valuation Model (7 Steps)_files/Linkedin@wallstreetmojo.png.webp
/doc/Discounted Cash Flow - Create DCF Valuation Model (7 Steps)_files/Madhuri-Thakur-150x150.jpg.webp
/doc/Discounted Cash Flow - Create DCF Valuation Model (7 Steps)_files/main(1).css
/doc/Discounted Cash Flow - Create DCF Valuation Model (7 Steps)_files/main.css
/doc/Discounted Cash Flow - Create DCF Valuation Model (7 Steps)_files/main.js.download
/doc/Discounted Cash Flow - Create DCF Valuation Model (7 Steps)_files/main-jso-min.js.download
/src/GUI/mainwindow.ui
/doc/Discounted Cash Flow - Create DCF Valuation Model (7 Steps)_files/mobile-detect.min.js.download
/doc/Discounted Cash Flow - Create DCF Valuation Model (7 Steps)_files/prebid6.12.0-adp-adt-biz-blu-one-pub-rub-sov-val-xap-sch-gdpr-ccpa-ucrit.js.download
/doc/Discounted Cash Flow - Create DCF Valuation Model (7 Steps)_files/pubads_impl_2022070601.js.download
/doc/Discounted Cash Flow - Create DCF Valuation Model (7 Steps)_files/pum-atc-site.min.js.download
/doc/Discounted Cash Flow - Create DCF Valuation Model (7 Steps)_files/pum-eip-site.min.js.download
/doc/Discounted Cash Flow - Create DCF Valuation Model (7 Steps)_files/pum-site.min.css
/doc/Discounted Cash Flow - Create DCF Valuation Model (7 Steps)_files/remote.js.download
/doc/Discounted Cash Flow - Create DCF Valuation Model (7 Steps)_files/saved_resource.html
/doc/Discounted Cash Flow - Create DCF Valuation Model (7 Steps)_files/select2.min.css
/doc/Discounted Cash Flow - Create DCF Valuation Model (7 Steps)_files/select2.min.js.download
/doc/Discounted Cash Flow - Create DCF Valuation Model (7 Steps)_files/Seven-Steps-to-DCF.png
/doc/Discounted Cash Flow - Create DCF Valuation Model (7 Steps)_files/site.min.js.download
/doc/Discounted Cash Flow - Create DCF Valuation Model (7 Steps)_files/skip-links.min.js.download
/src/db/sqlite2mysql.py
/doc/Discounted Cash Flow - Create DCF Valuation Model (7 Steps)_files/Step-1-DCF.png
/doc/Discounted Cash Flow - Create DCF Valuation Model (7 Steps)_files/Step-2-DCF.png
/doc/Discounted Cash Flow - Create DCF Valuation Model (7 Steps)_files/Step-3-DCF.png
/doc/Discounted Cash Flow - Create DCF Valuation Model (7 Steps)_files/Step-4-DCF.png
/doc/Discounted Cash Flow - Create DCF Valuation Model (7 Steps)_files/Step-5-DCF.png
/doc/Discounted Cash Flow - Create DCF Valuation Model (7 Steps)_files/Step-6-DCF.png
/doc/Discounted Cash Flow - Create DCF Valuation Model (7 Steps)_files/Step-7-DCF.png
/doc/Discounted Cash Flow - Create DCF Valuation Model (7 Steps)_files/style.min.css
/doc/Discounted Cash Flow - Create DCF Valuation Model (7 Steps)_files/superfish.args.min.js.download
/doc/Discounted Cash Flow - Create DCF Valuation Model (7 Steps)_files/superfish.min.js.download
/doc/Discounted Cash Flow - Create DCF Valuation Model (7 Steps)_files/u55hom4_Ye0.html
/src/core/update_after_split.py
/doc/Discounted Cash Flow - Create DCF Valuation Model (7 Steps)_files/uri.js.download
/src/GUI/UserClasses.py
/doc/Discounted Cash Flow - Create DCF Valuation Model (7 Steps)_files/v2.js.download
/doc/Discounted Cash Flow - Create DCF Valuation Model (7 Steps)_files/WallstreetmojoLogo.png.webp
/doc/Discounted Cash Flow - Create DCF Valuation Model (7 Steps)_files/wallstreetmojoofficial_mobile.png.webp
/doc/Discounted Cash Flow - Create DCF Valuation Model (7 Steps)_files/www-embed-player.js.download
/doc/Discounted Cash Flow - Create DCF Valuation Model (7 Steps)_files/www-player.css
/doc/Discounted Cash Flow - Create DCF Valuation Model (7 Steps)_files/youtube_subscribe_small.png.webp
